.customers-info {
    display: flex;
}

.customers-list {
    width: 200px;
    border: 1px solid #808080;
}

.customer-item {
    min-height: 30px;
    padding: 10px;
}

.customer-item:hover,
.customer-item-active {
    background-color: #0000ff;
    color: #ffffff;
}

.customer-details {
    position: relative;
    width: 200px;
    padding: 5px;
    border: 1px solid #808080;
}

.customer-details-image {
    max-width: 100%;
}

.loading-element {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: #000000;
    color: #ffffff;
}

.please-select-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}